@charset "UTF-8";
body, html {
  margin: 0;
  padding: 0;
  font-family: "Lora", "Montserrat", "Open Sans", "Playfair Display", "Roboto", sans-serif;
  scroll-behavior: smooth;
  background-color: #2c3647;
  color: #f0e5d8;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: #2c3647;
  font-size: 20px;
  color: #fff;
  transition: background-color 0.5s ease;
}
.navbar .logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  margin-right: 50px;
}
.navbar ul li {
  margin-right: 10px;
}
.navbar ul li a {
  text-decoration: none;
  padding: 8px 16px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.navbar ul li a:hover {
  background-color: #fff;
  color: #2c3647;
}
.navbar .menu-icon {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
}
@media (max-width: 768px) {
  .navbar .menu-icon {
    display: block;
  }
  .navbar ul {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    flex-direction: column;
    padding: 10px;
  }
  .navbar ul.show {
    display: flex;
    animation: slideIn 0.3s ease;
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.popup-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fefefe;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: left;
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

.popup img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #333;
}

.popup .close:hover {
  color: red;
}

.popup ul {
  list-style-type: none;
  padding-left: 0;
}

.popup ul li {
  margin-bottom: 10px;
  list-style: none;
}

.about-me-container {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 15px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  font-family: "Lora", serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-container h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.about-me-container p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 5px;
}

.about-me-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.about-me-container ul li {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  margin-left: 20px;
  display: inline-block;
  width: 220px;
  vertical-align: top;
  text-align: left;
}

.about-me-container ul li::before {
  content: "•";
  margin-right: 8px;
  color: #0070f3;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3647;
  color: #f0e5d8;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}
@media (max-width: 1100px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

.contact-info {
  text-align: left;
  margin-right: 200px;
  color: #f0e5d8;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 1300px) {
  .contact-info {
    margin-right: 100px;
    text-align: center;
  }
}
@media (max-width: 1200px) {
  .contact-info {
    margin-right: 50px;
  }
}
.contact-info h2 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  margin-bottom: 10px;
}
.contact-info h2 span {
  color: #f8b195;
}
.contact-info a {
  color: #f0e5d8;
  text-decoration: none;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
}
.contact-info a:hover {
  color: #f8b195;
}
.contact-info a i {
  margin-right: 8px;
  font-size: 24px;
}

.contact-form {
  flex: 1;
  background: #f0e5d8;
  border-radius: 20px;
  padding: 40px;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
@media (max-width: 900px) {
  .contact-form {
    max-width: 100%;
    margin-top: 20px;
  }
}
.contact-form h1 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
  margin-bottom: 10px;
  color: #2c3647;
}
.contact-form p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #2c3647;
}
.contact-form .form-group {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  color: #2c3647;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #2c3647;
  border-radius: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.contact-form textarea {
  resize: vertical;
}
.contact-form button[type=submit] {
  display: block;
  margin: 10px auto 0 auto;
  padding: 10px 20px;
  background-color: #2c3647;
  color: #f0e5d8;
  border: none;
  border-radius: 50px;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  cursor: pointer;
  transition: background-color 0.3s;
}
.contact-form button[type=submit]:hover {
  background-color: #f8b195;
}

section {
  padding-top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.intro {
  background-color: #2c3647;
  color: #f0e5d8;
  position: relative;
}
.intro h1, .intro p {
  font-size: 50px;
  color: #f0e5d8;
  margin: 10px;
  font-family: "Lora", "Montserrat", "Open Sans", "Playfair Display", "Roboto", sans-serif;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.intro h1 {
  animation: slideInLeft 1s ease-out forwards;
}
.intro p {
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.5s;
}
.intro #viewMoreButton {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #f0e5d8;
  color: #2c3647;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1.5s;
}
.intro #viewMoreButton:hover {
  background-color: #f8b195;
  color: #f0e5d8;
  transform: translateY(-5px);
}
.intro #viewMoreButton:active {
  transform: translateY(0);
}

#name-trigger {
  color: #f8b195;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
#name-trigger:hover {
  color: #f67280;
}

.projects {
  background-color: #2c3647;
  color: #f0e5d8;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 50px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative;
  width: 300px;
}
.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  height: auto;
  object-fit: cover;
}

.project-info {
  padding: 10px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  color: #2c3647;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #2c3647;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.project-technologies span {
  background-color: #eee;
  color: #2c3647;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.project-links {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.project-links a {
  color: #2c3647;
  text-decoration: none;
  font-weight: bold;
}
.project-links a:hover {
  color: #f8b195;
}

@media (max-width: 1350px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
  .project-card {
    height: auto;
    margin: 0 auto;
  }
  .project-card img {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0px;
  }
}
@media (max-width: 775px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .project-card {
    height: auto;
    margin: 0 auto;
  }
  .project-card img {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0px;
  }
}
.experience {
  background-color: #2c3647;
  padding: 20px;
  text-align: center;
}
.experience h1 {
  margin-top: 50px;
}

.timeline {
  position: relative;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}

.timeline-item {
  color: black;
  padding: 20px;
  width: 40%;
  position: relative;
}

.timeline-item.left {
  float: left;
  clear: both;
  text-align: right;
}

.timeline-item.right {
  float: right;
  clear: both;
  text-align: left;
}

.timeline-item .timeline-year {
  background-color: #f8b195;
  color: white;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}

.timeline-item.left .timeline-year {
  right: -60px;
}

.timeline-item.right .timeline-year {
  left: -60px;
}

.timeline-content {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* Line */
.timeline:before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #f8b195;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.experience {
  background-color: #2c3647;
  padding: 20px;
  text-align: center;
}

.timeline {
  position: relative;
  width: 100%;
  padding: 50px 0;
  margin: 0 auto;
}

.timeline-item {
  color: black;
  padding: 20px;
  width: 40%;
  position: relative;
  list-style-type: none;
}

.timeline-item.left {
  float: left;
  clear: both;
  text-align: right;
}

.timeline-item.right {
  float: right;
  clear: both;
  text-align: left;
}

.timeline-item .timeline-year {
  background-color: #f8b195;
  color: white;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
}

.timeline-item.left .timeline-year {
  right: -75px;
}

.timeline-item.right .timeline-year {
  left: -75px;
}

.timeline-content {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-content:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

/* Line */
.timeline:before {
  content: "";
  position: absolute;
  width: 4px;
  background-color: #f8b195;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.skills {
  background-color: #2c3647;
  color: #f0f0f0;
  text-align: center;
  padding-top: 8px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2c3647;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill img {
  width: 75px;
  height: 65px;
  margin-bottom: 5px;
  object-fit: contain;
}

.skill p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #f0f0f0;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .skill {
    padding: 15px;
  }
  .skill img {
    width: 80px;
    height: 80px;
  }
  .skill p {
    font-size: 16px;
  }
}
.resume-popup {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.resume-popup.show {
  display: flex;
}

.resume-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 90%;
  height: 90%;
  position: relative;
}

.resume-content h2 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.resume-content iframe {
  width: 100%;
  height: 80%;
  border: none;
}

.resume-download {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.resume-close {
  position: absolute;
  top: 0px;
  right: 0px;
}

.resume-close button {
  background: none;
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: black;
}

.resume-close button:hover {
  color: red;
}

/*# sourceMappingURL=styles.css.map */
