.navbar {
  z-index: 1;
  position: relative;
  background-color: transparent;
  padding: 10px;
  text-align: right;
  margin-top: 10px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li {
  display: inline;
  margin-right: 20px;
}
.navbar li a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  transition: background-color 0.3s ease;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.navbar li a:hover {
  background-color: gray;
}

#particles-js {
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.intro {
  z-index: 1;
  text-align: center;
  padding: 40px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.intro p {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 1s ease-out, transform 1s ease-out;
  font-size: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  0% {
    transform: translateX(25%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#p1 {
  animation: slideInLeft 1s ease-out forwards;
}

#p2 {
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.5s;
}

#project-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 1.5s;
}
#project-button:hover {
  background-color: #0056b3;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.contact {
  z-index: 1;
  text-align: center;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact h1 {
  opacity: 1;
  font-size: 40px;
  color: white;
  margin: 10px;
}

.contact p {
  margin: 0px;
  margin-bottom: 10px;
  color: white;
}

.contact-form {
  width: 100%;
  max-width: 400px;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.contact-form .form-group {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.contact-form label {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.contact-form button {
  padding: 10px 20px;
  margin: auto;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/*# sourceMappingURL=styles.css.map */
