$font-stack: Arial, Helvetica, sans-serif;

$navbar-background: transparent;
$navbar-text-color: #fff;
$navbar-hover-color: gray;

.navbar {
  z-index: 1;
  position: relative;
  background-color: $navbar-background;
  padding: 10px;
  text-align: right;
  margin-top: 10px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    display: inline;
    margin-right: 20px;

    a {
      color: $navbar-text-color;
      text-decoration: none;
      padding: 15px;
      transition: background-color 0.3s ease;
      font-family: $font-stack;
      font-size: 20px;

      &:hover {
        background-color: $navbar-hover-color;
      }
    }
  }
}
