.contact-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $dark-bg-color;
  color: $text-light;
  padding: 20px;  // Add padding for spacing between elements and the navbar
  border-radius: 20px;
  margin-top: 20px;  // Push the container down to avoid clashing with the navbar
}

.contact-info {
  text-align: left;
  margin: -30px 125px 0px 125px;
  color: $text-light;
  flex-direction: column;
  justify-content: center;  // Center vertically within the container
  height: 100%;  // Adjust height based on form height
}

.contact-info h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.contact-info h2 span {
  color: $peach-bg-color;
}

.contact-info a {
  color: $text-light;
  text-decoration: none;
  font-size: 18px;
  display: inline-flex;
  align-items: center;

  &:hover {
    color: $peach-bg-color;
  }

  i {
    margin-right: 8px;
    font-size: 24px;
  }
}

.contact-form {
  flex: 1;
  background: $text-light;
  border-radius: 20px;
  padding: 20px;  // Reduce padding to make form smaller
  width: 100%;
  max-width: 450px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: $dark-bg-color;
  }

  p {
    font-size: 16px;
    color: $dark-bg-color;
  }

  .form-group {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    color: $dark-bg-color;
  }

  input,
  textarea {
    width: 97%;
    padding: 6px;
    border: 2px solid $dark-bg-color;
    border-radius: 10px;
    font-size: 16px;
    background-color: $input-bg-color;
  }

  textarea {
    resize: vertical;
  }

  button[type="submit"] {
    display: block;
    margin: 10px auto 0 auto;  // Center the button horizontally
    padding: 10px 20px;
    background-color: $dark-bg-color;
    color: $text-light;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $peach-bg-color;
    }
  }
}
