// Navbar styling
.navbar {
    position: fixed;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
    font-size: 20px;
    color: $text-light;
    transition: background-color 0.5s ease;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;
      flex-wrap: nowrap;
      margin-right: 30px;
      margin-left: 15px;
  
      li {
        margin-right: 20px;
  
        a {
          text-decoration: none;
          padding: 10px 20px;
          color: $text-light;
          border-radius: 5px;
          transition: background-color 0.3s ease, color 0.3s ease;
  
          &:hover {
            background-color: $text-light;
            color: $dark-bg-color;
          }
        }
      }
    }
  }
  