.popup-container {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fefefe;
  color: black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: left;
  position: relative;
  animation: fadeIn 0.3s ease-out;
}

.popup img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  display: block;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  cursor: pointer;
  color: #333;
}

.popup .close:hover {
  color: red;
}

.popup ul {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes padding */
}

.popup ul li {
  margin-bottom: 10px; /* Adjust margin */
  list-style: none; /* Ensures no bullets */
}

/* About Me Container Styles */
.about-me-container {
  background-color: #f0f4f8;
  padding: 20px;
  border-radius: 15px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lora', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me-container h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.about-me-container p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 5px;
}

.about-me-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.about-me-container ul li {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  margin-left: 20px;
  display: inline-block;
  width: 220px; /* Adjusted for better alignment */
  vertical-align: top;
  text-align: left; /* Align text to the left for better readability */
}

.about-me-container ul li::before {
  content: "•";
  margin-right: 8px;
  color: #0070f3;
  font-weight: bold;
  font-size: 20px;
  vertical-align: middle; /* Align the bullet point better with text */
}