.projects {
  background-color: $dark-bg-color;
  color: $text-light;
}

.container {
  max-width: 1400px; /* Increase max-width for larger screens */
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 50px;
}

.section-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

/* Set up grid for large screens with 4 columns */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Ensure 4 columns on large screens */
  gap: 40px;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr); /* Adjust to 2 columns for smaller screens */
  }

  @media (max-width: 600px) {
    grid-template-columns: 1fr; /* Stack into 1 column for mobile */
  }
}

.project-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  position: relative; /* Added for fixed positioning of GitHub link */
  width: 100%; /* Ensure the card takes up full width of the grid column */

  &:hover {
    transform: scale(1.05);
  }
}

.project-card img {
  width: 80%; /* Adjust width to 80% to provide padding inside the card */
  margin: 0 auto; /* Center the image horizontally */
  padding: 20px; /* Add padding to create space between the image and the borders */
  height: auto;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: $dark-bg-color;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: $dark-bg-color;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.project-technologies span {
  background-color: #eee;
  color: $dark-bg-color;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.project-links {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  padding: 10px;
}

.project-links a {
  color: $dark-bg-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $peach-bg-color;
  }
}
