.projects {
  background-color: $dark-bg-color;
  color: $text-light;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 40px;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.project-card {
  background-color: $text-light;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  width: 300px;

  &:hover {
    transform: scale(1.05);
  }
}

.project-card img {
  width: auto;
  margin: 0 auto;
  padding-top: 20px;
  height: auto;
  object-fit: cover;
}

.project-info {
  padding: $padding-base;
}

.project-title {
  font-size: $font-size-large;
  margin-bottom: $margin-base;
  margin-top:0;
  color: $dark-bg-color;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: $dark-bg-color;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 40px;
}

.project-technologies span {
  background-color: #eee;
  color: $dark-bg-color;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.project-links {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.project-links a {
  color: $dark-bg-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $peach-bg-color;
  }
}

@media (max-width: 1350px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .project-card {
    height: auto;
    margin: 0 auto;
  }

  .project-card img {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0px;
  }
}

@media (max-width: 775px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .project-card {
    height: auto;
    margin: 0 auto;
  }

  .project-card img {
    width: auto;
    height: auto;
    padding: 5px;
    margin: 0px;
  }
}