h2 {
    font-size: 32px;
    margin-bottom: 25px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
}

.skill {
    color: $text-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $dark-bg-color;
    padding: 20px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    p {
        font-size: 16px;

        color: #f7fafc;
        margin-top: 10px;
    }
}

.skill img {
    width: 75px;
    height: 65px;
    margin-bottom: 5px;
    object-fit: contain;
}

.skill p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #f0f0f0;
}

.skill:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .skill {
        padding: 15px;
    }

    .skill img {
        width: 80px;
        height: 80px;
    }

    .skill p {
        font-size: 16px;
    }
}