// Variables
$font-stack: Arial, Helvetica, sans-serif;
$dark-bg-color: #2c3647; // Dark blue
$peach-bg-color: #f8b195; // Soft peach
$text-light: #f0e5d8; // Creamy white
$input-bg-color: #f9f9f9; // Light background for inputs
