$dark-bg-color: #2c3647;
$text-light: #ffffff;
$peach-bg-color: #f8b195;
$input-bg-color: #eeeeee;

$font-stack: "Roboto", sans-serif;

$font-size-base: 16px;
$font-size-large: 24px;
$font-size-title: 36px;
$font-size-small: 14px;

$padding-base: 10px;
$padding-large: 40px;
$margin-base: 20px;
$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

body, html {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  scroll-behavior: smooth;
  background-color: $dark-bg-color;
  color: $text-light;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
